h1.title {
  font-size: 3rem;
  color: #99D19C;
}

@media (max-width: 768px) {
  h1.title {
    font-size: 2rem;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #73ab84;
  text-align: center;
  padding: 20px 0;
}